name: build

on: [push, pull_request]

jobs:
  macos:
    runs-on: macOS-10.15
    steps:
      - uses: actions/checkout@v1
        with:
          submodules: recursive
      - name: install dependencies
        run: HOMEBREW_NO_AUTO_UPDATE=1 brew install qt@5 libsodium libzip qrencode unbound cmake hidapi openssl expat libunwind-headers protobuf pkgconfig zbar
      - name: icu
        run: git clone -b release-64-2 --depth 1 https://github.com/unicode-org/icu && cd icu/icu4c/source && git reset --hard e2d85306162d3a0691b070b4f0a73e4012433444 && ./configure --disable-shared --enable-static --disable-tests --disable-samples && make && make install
      - name: build boost from source
        run: wget https://downloads.sourceforge.net/project/boost/boost/1.73.0/boost_1_73_0.tar.bz2 && tar -xf boost_1_73_0.tar.bz2 && cd boost_1_73_0 && ./bootstrap.sh && ./b2 --with-atomic --with-system --with-filesystem --with-thread --with-date_time --with-chrono --with-regex --with-serialization  --with-program_options --with-locale variant=release link=static runtime-link=static cflags="-fPIC" cxxflags="-fPIC" install -a --prefix="$(pwd)/boost"
      - name: install polyseed
        run: git clone https://github.com/tevador/polyseed.git && cd polyseed && git reset --hard e38516561c647522e2e2608f13eabdeab61d9a5d && cmake . && make && make install
      - name: build
        run: CMAKE_PREFIX_PATH='/usr/local/opt/qt@5/' CMAKE_INCLUDE_PATH="$(pwd)/boost_1_73_0/boost/include" LDFLAGS="-L$(pwd)/boost_1_73_0/boost/lib" make mac-release -j3
      - name: create .tar
        run: tar -cf feather.tar feather.app
        working-directory: build/bin
      - uses: actions/upload-artifact@v2
        with:
          name: ${{ github.job }}
          path: build/bin/feather.tar
